{% extends "base.html" %} {{super}} {% block title %} Medc... {% endblock %}
{%block content%}
<div class="d-flex flex-column min-vh-100">
  <div class="container">
    <div class="navbar navbar-expand-md">
      <div class="container-fluid">
        <a class="navbar-brand">
          <img src="/static/logo.png" /><strong>eDc</strong></a
        >
        <div class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active fw-bold" aria-current="page"
              >Account Recovery</a
            >
          </li>
          <li class="nav-item">
            <a href="">
              <button class="btn btn-info ms-3">Report</button>
            </a>
          </li>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center my-auto">
    <div class="shadow rounded">
      <div class="d-flex justify-content-center my-3">
        <img src="/static/change_passwd.png" class="find_account_logo" />
      </div>
      <form action="{{url_for('auth.find_account')}}" method="POST">
        <div class="mx-auto w-75 my-3 text-center">
          {{form.gen_label(class='h2 fw-bold')}}
        </div>
        <div class="mx-auto px-5 w-75 mb-3">
          {{form.new_passwd.label(class='fs-6')}}
          {{form.new_passwd(class="form-control")}}
        </div>
        <div class="mx-auto px-5 w-75">
          {{form.passwd_confirm.label(class='fs-6')}}
          {{form.passwd_confirm(class="form-control")}}
        </div>

        <div class="d-flex justify-content-center my-4">
          {{form.submit(class="btn btn-primary fs-6")}}
        </div>
      </form>
    </div>
  </div>

  {%include 'footer.html'%} {% endblock%}
</div>
