{% extends "base.html" %} {{super}} {% block title %} Medc... {% endblock %}
{%block content%}
<div class="d-flex flex-column min-vh-100">
  <div class="container">
    <div class="navbar navbar-expand-md">
      <div class="container-fluid">
        <a class="navbar-brand">
          <img src="/static/logo.png" /><strong>eDc</strong></a
        >
        <div class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active fw-bold" aria-current="page"
              >Account Recovery</a
            >
          </li>
          <li class="nav-item">
            <a href="">
              <button class="btn btn-info ms-3">Report</button>
            </a>
          </li>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center my-auto">
    <div class="shadow-lg rounded">
      {% if is_there == True %}
      <div class="d-flex justify-content-center my-3">
        <img src="/static/computer.png" class="find_account_logo" />
      </div>
      <form action="{{url_for('auth.verification')}}" method="POST">
        {{form.csrf_token }}
        <div class="mx-auto w-75 my-3 text-center">
          {{form.gen_label(class='h2 fw-bold')}}
        </div>
        <div class="px-5 justify-content-center align-items-center">
          {{form.code_field(class="form-control fs-4 w-50 mx-auto")}}
        </div>

        <div class="d-flex justify-content-center my-4">
          {{form.send_btn(class="btn btn-primary fs-6")}}
        </div>
      </form>
      {% else %}
      <div class="d-flex justify-content-center my-3">
        <img src="/static/verification_faild.png" class="find_account_logo" />
      </div>
      <div class="d-flex justify-content-center my-4">
        {{form.resend_btn(class="btn btn-primary fs-6")}}
      </div>
      {% endif %}
    </div>
  </div>

  {%include 'footer.html'%} {% endblock%}
</div>
