body {
  font-family: "Space Grotesk", sans-serif;
}

#navigation {
  /* background-color: #00fff6; */
}

.navbar .navbar-nav li a {
  color: black;
}
.search_container {
  margin-left: auto;
  margin-right: auto;
  /* min-width: 40px; */
}

.search_input {
  width: 10%;
  margin-right: 5%;
}
.loc_card {
  padding: 20px;
}
.row .col .card {
  display: flex;
  margin: 10%;
  width: 250px;
  height: 355px;
  /* background-color: #fffbf5; */
}
.card_img {
  width: 150px;
}

.product_title {
  font-size: medium;
}
.product_subtitle {
  font-size: smaller;
}

.card .card-footer {
  background-color: white;
  border: 0;
}
.card_btn {
  background-color: #00e7ff;
}

/* login section  */

.login_form {
  font-size: 0.9rem;
}
.btn {
  font-size: 0.9rem;
}
