<div id="navigation" class="navbar px-3">
  <a href="#" class="navbar-brand"
    ><img src="/static/logo.png" /><strong>eDc</strong></a
  >
  <div class="w-50">
    <form method="POST" action="/">
      <div class="d-flex flex-row mx-auto search_container">
        {{form.search_text(class='form-control search_input')}}
        {{form.search_btn(class='btn btn-outline-dark search_btn')}}
      </div>
    </form>
  </div>
  <button
    class="navbar-toggler"
    data-bs-toggle="collapse"
    data-bs-target="#menu"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="menu">
    <ul class="navbar-nav ms-auto loc_nav" style="list-style: none">
      <li class="nav-item mx-3"><a href="#" class="nav-link">User</a></li>
      <li class"nav-item mx-3
      <li class="nav-item mx-3">
        <a class="nav-link"><i class="fa-solid fa-ellipsis fs-4"></i></a>
      </li>
    </ul>
  </div>
</div>
