{% extends "base.html" %} {{super}} {% block title %} Medc... {% endblock %}
{%block content%}
<div class="d-flex flex-column min-vh-100">
  <div class="container">
    <div class="navbar navbar-expand-md">
      <div class="container-fluid">
        <a class="navbar-brand">
          <img src="/static/logo.png" /><strong>eDc</strong></a
        >
        <div class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"
              >Got Account?</a
            >
          </li>
          <li class="nav-item">
            <button class="btn btn-info ms-3">Sign In</button>
          </li>
        </div>
      </div>
    </div>
  </div>

  <div
    class="mt-auto container d-flex align-items-center justify-content-center"
  >
    <div class="align-items-center login_form">
      <h2 class="text-center mb-3">Sign Up</h2>
      <hr class="hr-text mb-3" />
      <form method="POST" action="/">
        {{form.first_name.label(class="form-label")}}
        {{form.first_name(class="form-control mb-3 w-100")}}
        <div class="row g-3 align-items-center mb-3">
          <div class="col-auto">{{form.last_name.label}}</div>
          <div class="col-auto">{{form.last_name(class="form-control")}}</div>
          <div class="col-auto">
            {{form.middle_name.label(class="col-form-label")}}
          </div>
          <div class="col-auto">{{form.middle_name(class="form-control")}}</div>
        </div>
        {{form.email.label(class='mb-1')}} {{form.email(class="form-control
        mb-2")}} {{form.password.label(class='mb-1')}}
        {{form.password(class="form-control mb-5")}}
        <div class="text-center">
          {{form.submit(class='btn btn-success w-25 login_btn')}}
          {{form.google_login(class="btn btn-primary login_btn")}}
        </div>
      </form>
    </div>
  </div>
  {%include 'footer.html'%} {% endblock%}
</div>
