<div class="card rounded-3 shadow-sm">
  <div class="card-head">
    <img class="card_img" src="/static/{{product.image}}" />
  </div>
  <div class="card-body p-0">
    <p class="product_title">{{product.name[:50]}}</p>
    <p class="product_subtitle">{{product.brand}}</p>
    <h4 class="card-title pricing-card-title">{{product.selling_price}}</h4>
  </div>
  <div class="card-footer">
    <button type="button" class="w-50 btn btn-outline-secondary pb-2 card_btn">
      Add to cart
    </button>
  </div>
</div>
